@namespace NATS.Components.Layout.Public;

<nav class="navbar navbar-expand-xl fixed-top shadow fs-5" id="navbar" data-bs-theme="light">
    <div class="container">
        <!-- Main logo -->
        <NavLink
            href="@RouteHelper.GetPublicHomeRoutePath()"
            class="navbar-brand d-flex align-items-center"
        >
            <img
                src="/images/main-logo-transparent-white-without-text-small.png"
                class="me-2 flex-shrink-0"
                alt="@Model.GeneralSettings.ApplicationName"
            />
            
            <span class="fs-2 application-short-name">
                @Model.GeneralSettings.ApplicationShortName
            </span>
        </NavLink>
        <button
            class="navbar-toggler fs-3 me-2 py-2"
            id="navbar-toggler-button"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#navbar-content"
            aria-controls="navbar-content"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="bi bi-list"></i>
        </button>
        <div
            class="offcanvas offcanvas-end"
            tabindex="-1"
            id="navbar-content"
            aria-labelledby="offcanvasNavbarLabel"
        >
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Điều hướng</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
                </button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-end w-100">
                    <!-- Home -->
                    <li class="nav-item">
                        <NavigationBarItem Href="@RouteHelper.GetPublicHomeRoutePath()">
                            Trang chủ
                        </NavigationBarItem>
                    </li>

                    <!-- SummaryItem -->
                    <li class="nav-item">
                        <NavigationBarItem Href="@RouteHelper.GetPublicSummaryItemRoutePath()">
                            Giới thiệu
                        </NavigationBarItem>
                    </li>
                    
                    <!-- AboutUsIntroduction -->
                    <li class="nav-item">
                        <NavigationBarItem
                            Href="@RouteHelper.GetPublicAboutUsIntroductionRoutePath()"
                        >
                            Về chúng tôi
                        </NavigationBarItem>
                    </li>
                    
                    <!-- CatalogItem - Services -->
                    <li class="nav-item">
                        <NavigationBarItem Href="@RouteHelper.GetPublicServiceListRoutePath()">
                            Dịch vụ
                        </NavigationBarItem>
                    </li>
                    
                    <!-- CatalogItem - Course -->
                    <li class="nav-item">
                        <NavigationBarItem Href="@RouteHelper.GetPublicCourseListRoutePath()">
                            Khoá học
                        </NavigationBarItem>
                    </li>
                    
                    <!-- Enquiry -->
                    <li class="nav-item">
                        <NavigationBarItem Href="@RouteHelper.GetPublicEnquiryRoutePath()">
                            Liên hệ
                        </NavigationBarItem>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>