@page "/"
@using NATS.Components.Layout.Public
@using NATS.Models
@namespace NATS.Components.Pages.Public
@layout PublicLayout

<PageTitle>Trang chủ</PageTitle>

@if (_model != null)
{
    <div class="container-fluid p-0" id="home-view">
        <!-- SliderItems -->
        <SliderItemList Model="@_model.SliderItems" />

        <!-- ApplicationName -->
        <div class="container-fluid text-center text-white fw-bold
                    p-2 mb-3 shadow application-name-container">
            @_model.GeneralSettings.ApplicationName
        </div>

        <!-- SummaryItems -->
        <div class="container">
            <div class="row g-3 p-3">
                @foreach (SummaryItemDetailModel summaryItem in _model.SummaryItems)
                {
                    <a
                        href="@_routeHelper.GetPublicSummaryItemRoutePath(summaryItem.Id)"
                        class="col col-xl-3 col-md-6 col-12 p-3 summary-item-link
                            d-flex flex-column align-items-center"
                    >
                        <img
                            class="rounded-circle summary-item-thumbnail mb-3 shadow"
                            src="@summaryItem.ThumbnailUrl"
                            alt="@summaryItem.Name"
                        >

                        <span class="fs-3 text-center text-success mb-3">
                            @summaryItem.Name
                        </span>

                        <p>@summaryItem.SummaryContent</p>
                    </a>
                }
            </div>
        </div>

        <!-- AboutUsIntroduction -->
        <div class="container-fluid bg-success text-white fs-5 shadow p-0">
            <div class="container p-0">
                <div class="row g-0 p-3 justify-content-center align-items-stretch">
                    <div class="col col-xl-6 col-lg-8 col-12 d-flex align-items-start m-3">
                        <img
                            src="@_model.AboutUsIntroduction.ThumbnailUrl"
                            class="w-100 rounded-3"
                            alt="Về chúng tôi"
                        />
                    </div>
                    
                    <div class="col-xl col-lg-8 col d-flex flex-column
                                justify-content-center align-items-start m-3">
                        <div class="fs-2 mb-3">Về chúng tôi</div>
                        <p>@_model.AboutUsIntroduction.AboutUsContent</p>
                        <a
                            asp-area="FrontPages"
                            asp-controller="AboutUsIntroduction"
                            asp-action="Index"
                            class="btn btn-outline-light mt-3"
                        >
                            Tìm hiểu thêm
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- CatalogItems -->
        <div class="container mt-3" id="catalog-item-container">
            <CatalogItemList Model="_model.Services" />
            <CatalogItemList Model="_model.Courses" />
        </div>

        <!-- Enquiry -->
        @* <partial name="_EnquiryForm" model="new EnquiryViewModel()" /> *@
    </div>
}